[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
python-dotenv = "*"
schedule = "*"
flask = "*"
pymongo = {extras = ["srv"], version = "*"}
gunicorn = "*"
waitress = "*"

[dev-packages]
autopep8 = "*"
ipython = "*"
black = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
