[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
python-dotenv = "*"
schedule = "*"
flask = "*"
pymongo = {extras = ["srv"], version = "*"}
gunicorn = "*"

[pipenv]
allow_prereleases = true
